# Data Bootcamp
## Problem Set # 1
For This Problem Set, I'll *Try* to type my answers to the questions in Markup, and then follow them with the code that backs them up. I'm new at this, so **please bear with me**. Thanks, and enjoy my stab at Problem Set #1

#### 1. Describe what each of these expressions produces in basic python:
2+5 should produce 7. It is an additive function.

2 + 5 should also produce 7. It is also an additive function, and the white space doesn't change it.

2 "*asterisk*" 5 should produce 10. It multiplicative (*I hope this is a word*) function.

2/5 should produce .4. It divides 2 by 5.

2 **double asterisk** 5 should produce 32. The output should be 2 to the fifth power, because double asterisks indicate exponents.

In [1]:
2+5

7

In [2]:
2 + 5

7

In [3]:
2*5

10

In [4]:
2/5

0.4

In [5]:
2**5

32

####  2. What is the value of x after running these statements in order? why?
x = 7
x = x+3
The value of x should be 10. This is because the first value of x was defined as 7, while the second assignment of x was the first x + 3, so 7+3. Thus the final value of x is 10.

In [6]:
X=7

In [7]:
X=X+3

In [8]:
print(X)

10

#### 3. What is the value of y after running these statements in order? Of x? Why?
x = 3

y= x

x=10

The value of y after running these statements in order is 3. The value of x is 10. Running these statements in order initially assigned x the value of 3, and then y the value of *that particular x*. x was only assigned the value of 10 **after y's value was already assigned**.

In [9]:
x= 3

In [10]:
y = x

In [11]:
x=10

In [12]:
print(x)

10

In [13]:
print(y)

3

#### 4. Does this code run without error? If so, what does it produce? If not, explain why.
x = 3

x = x/2

y = 'abc'

z = y + y

print(x, z)

Yes, this code runs without error, producing 1.5 abcabc.

In [14]:
x = 3

x = x/2

y = 'abc'

z = y + y

print(x, z)

1.5 abcabc

#### 5. Does this code run without error? If so, what does it produce? If not, explain why.

x = 3

x = x/2

y = 'abc'

z = x + y

print(x, z)

No, this code **has an error**. The error is in the definition of z, because python cannot add a string to an floating number. I would have to convert x to a string in order to make this work.

In [15]:
x = 3

x = x/2

y = 'abc'

z = x + y

print(x, z)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

#### 6. Does this code run without error? If so, what does it produce? If not, explain why.
x = 3

y = 24

z = y / x

print(x, y, z, sep=' | ')

Yes, this code runs without error. It prints a list of the numbers separated by '|', or vertical bars

In [17]:
x = 3

y = 24

z = y / x

print(x, y, z, sep=' | ')

3 | 24 | 8.0

#### 7.  Does this code run without error? If so, what does it produce? If not, explain why.
x = 3

y = 24

z = y / x

print(x, z)

Yes, this code runs without error. It prints 3 8.0, or the value of x and then the value of z.

In [18]:
x = 3

y = 24

z = y / x

print(x, z)

3 8.0

#### 8. Does this code run without error? If so, what does it produce? If not, explain why.
x = "I am a #string" #whoa, a string!

It does run without error, but it doesn't really produce anything. It just assigned a value to x. If I had typed in print(x), it would have run without error and produced the message I am a #string

In [20]:
x = "I am a #string" #whoa, a string!
print(x)

I am a #string

#### 9. Does this code run without error? If so, what does it produce? If not, explain why.
x = [1, 2, 3]

y = [42, 43]

z = x + y

print(z)

Yes this code does run without error. It produces a list [1, 2, 3, 42, 43],or the summed list of x and y.

In [21]:
x = [1, 2, 3]

y = [42, 43]

z = x + y

print(z)

[1, 2, 3, 42, 43]

#### 10. Does this code run without error? If so, what does it produce? If not, explain why.

x = [1, 2, 3]

y = 42

z = x + y

This line of code has an error. You can't add an integer to the list. I would first have to convert y to a list, and then I could add the two together.

In [22]:
x = [1, 2, 3]

y = 42

z = x + y

TypeError: can only concatenate list (not "int") to list

#### 11. What "types" are
x1 = 12 x1 is an integer.

x2 = 12.0 x2 is a float

x3 = '12.0' x3 is a string

x4 = [12] x4 is a list

x5 = [12, 12.0, '12'] x5 is a list

In [23]:
x2 = 12.0
type(x2)

float

In [24]:
x4 = [12]
type(x4)

list

#### 12. Explain the result of each line.

type(42) The result identifies 42 as an *integer*

type(42.0) The result identifies 42.0 as a *float*, or floating number.

type('42.0') The result identifies '42.0' as a *string*

type("42.0") The result identifies "42.0 as a *string*

type("""42.0""") The result identifies """42.0""" as a *string*

type([1, 2]) The result identifies [1, 2] as a *list*

type([1] + [2]) The result identifies [1] + [2] as a *list*, because it is identifying the sum of two lists

type(1+2) The result identifies 1+2 as an *integer*, because it is computing 1+2=3 and then identifying 3 as an integer

type(print) The result identifies print as a *builtin_function_or_method*, because print is a standard, built-in python function

In [27]:
type("42.0")

str

In [26]:
type("""42.0""")

str

In [28]:
type([1, 2])

list

In [29]:
type([1] + [2])

list

In [30]:
type(1+2)

int

In [31]:
type(print)

builtin_function_or_method

#### 13. Describe and explain the result of this statement

type(float(str(int('1234'))))

This statement's result is float. This statement result describes the final output as a float, because the functions convert '1234' first into an integer, then a string, then finally a float. Then it identifies the type of input that it is, which is a float.

In [32]:
type(float(str(int('1234'))))

float

#### 14. Describe and explain the result of this statement

type(int(float('12.34')))

This statement's result is int. The functions convert '12.34' from a string to a float, then a float to an integer, and then finally identifies it as an integer.

In [33]:
type(int(float('12.34')))

int

#### 15. Explain each line:

len([1234]) This line describes the length of the list [1234], which is 1, because there is 1 item in the list

len("1234") This line describes the character length of the string "1234", which 4. 

len(1234) This line outputs an error, because it says that objects of type int have no length

In [35]:
len([1234])

1

In [36]:
len("1234")

4

In [37]:
len(1234)

TypeError: object of type 'int' has no len()

#### 16. What are the type and length of x = []

X is a list with length 0.

In [38]:
x = []
len(x)

0

In [39]:
type(x)

list

#### 17. Convert the string 'abcde' to a list. What does it look like? 

Converting 'abcde' to a list gets the result ['a', 'b', 'c', 'd', 'e']. This result is a list of the individual characters of the string 'abcde'

In [40]:
x= 'abcde'
list(x)

['a', 'b', 'c', 'd', 'e']

#### Consider the integer x = 1234

a. Convert x to a floating point number

float(x) 

b. Covert x to a string
str(x)
c. Convert x to the list ['1', '2', '3', '4']
list(str(x))

In [41]:
x=1234
list(str(x))

['1', '2', '3', '4']

In [42]:
float(x)

1234.0

In [43]:
str(x)

'1234'

#### 19. How would you convert x to title case (first letter of each word capitalized)?

x = "luke, i am your father"

x.title() is how to convert to title case.

In [47]:
x = "luke, i am your father"
x.title()

'Luke, I Am Your Father'

In [50]:
print(x.title())

Luke, I Am Your Father

#### 20. Consider the string x = "How many characters are in this string?"

a. How many characters does x contain? len(x) = 39


b.Convert x to a list of individual characters
list(x) (check code for answer, didnt want to type 39 characters in quotes)

c. Convert x to a list of individual words
words = x.split()
x = words.
**simpler version**: x = x.split 
d. How many words does c contain? 
len(x) = 7. c contains 7 words.

In [51]:
x = "How many characters are in this string?"
len(x)

39

In [52]:
list(x)

['H',
 'o',
 'w',
 ' ',
 'm',
 'a',
 'n',
 'y',
 ' ',
 'c',
 'h',
 'a',
 'r',
 'a',
 'c',
 't',
 'e',
 'r',
 's',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 'i',
 'n',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g',
 '?']

In [54]:
str(x)

'How many characters are in this string?'

In [57]:
words = x.split()
print(words)

['How', 'many', 'characters', 'are', 'in', 'this', 'string?']

In [58]:
len(words)

7

In [59]:
x = words

In [60]:
print(x)

['How', 'many', 'characters', 'are', 'in', 'this', 'string?']

In [61]:
len(x)

7